@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: local(''),
	url("../font/Poppins-Black.woff2") format("woff2"),
	url("../font/Poppins-Black.woff") format("woff");
}
@font-face {
	font-family: 'Poppins Blackitalic';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: local(''),
	url("../font/Poppins-BlackItalic.woff2") format("woff2"),
	url("../font/Poppins-BlackItalic.woff") format("woff");
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("../font/Poppins-Bold.woff2") format("woff2"),
	url("../font/Poppins-Bold.woff") format("woff");
}
@font-face {
	font-family: 'Poppins Bolditalic';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("../font/Poppins-BoldItalic.woff2") format("woff2"),
	url("../font/Poppins-BoldItalic.woff") format("woff");
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("../font/Poppins-ExtraBold.woff2") format("woff2"),
	url("../font/Poppins-ExtraBold.woff") format("woff");
}
@font-face {
	font-family: 'Poppins Extrabolditalic';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url("../font/Poppins-ExtraBoldItalic.woff2") format("woff2"),
	url("../font/Poppins-ExtraBoldItalic.woff") format("woff");
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: local(''),
	url("../font/Poppins-ExtraLight.woff2") format("woff2"),
	url("../font/Poppins-ExtraLight.woff") format("woff");
}
@font-face {
	font-family: 'Poppins Extralightitalic';
	font-style: italic;
	font-weight: 200;
	font-display: swap;
	src: local(''),
	url("../font/Poppins-ExtraLightItalic.woff2") format("woff2"),
	url("../font/Poppins-ExtraLightItalic.woff") format("woff");
}
@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../font/Poppins-Italic.woff2") format("woff2"),
	url("../font/Poppins-Italic.woff") format("woff");
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local(''),
	url("../font/Poppins-Light.woff2") format("woff2"),
	url("../font/Poppins-Light.woff") format("woff");
}
@font-face {
	font-family: 'Poppins Lightitalic';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: local(''),
	url("../font/Poppins-LightItalic.woff2") format("woff2"),
	url("../font/Poppins-LightItalic.woff") format("woff");
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local(''),
	url("../font/Poppins-Medium.woff2") format("woff2"),
	url("../font/Poppins-Medium.woff") format("woff");
}
@font-face {
	font-family: 'Poppins Mediumitalic';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: local(''),
	url("../font/Poppins-MediumItalic.woff2") format("woff2"),
	url("../font/Poppins-MediumItalic.woff") format("woff");
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url("../font/Poppins-Regular.woff2") format("woff2"),
	url("../font/Poppins-Regular.woff") format("woff");
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local(''),
	url("../font/Poppins-SemiBold.woff2") format("woff2"),
	url("../font/Poppins-SemiBold.woff") format("woff");
}
@font-face {
	font-family: 'Poppins Semibolditalic';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: local(''),
	url("../font/Poppins-SemiBoldItalic.woff2") format("woff2"),
	url("../font/Poppins-SemiBoldItalic.woff") format("woff");
}
