// COLORS
$main: #231d4f;
$accent: #bb6bd9;
$white: #ffffff;
$beige: #f2dad5;

$secondary-text-color: #848199;
$btn-hover-color: #a847cc;
$bg-gradient-colors: #f5f5fa, #f2dad5, #a0abd6;

// TYPOGRAPHY
$font-family-poppins: 'Poppins', sans-serif;

// ICONS
$plan-default-icon: url('../img/icons/icons.svg#check-circle-light');
$plan-popular-icon: url('../img/icons/icons.svg#check-circle-dark');
